vtbscrapy/vtbscrapy/spiders/*.pyc
vtbscrapy/vtbscrapy/spiders/quotes_spider.pyc
.DS_Store
AmalgamationSettings\347\232\204\345\211\257\346\234\254.json
crontab_bk
vtbscrapy/.vscode/
@eaDir/
allmine.txt
cert.pem
dup.txt
dup_file.txt
dup_list.txt
hello.py
key.pem
listporn.txt
nohup.out
str.jpg
tmp.txt
*.pyc
